#########################################
# 				1.18.1 					#
#########################################
# 			Registrator					#
#########################################
# Made public for "fixed" `EntitySpawnPlacementRegistry#register()` method that does not require `MobEntity`types
public net.minecraft.world.entity.SpawnPlacements f_21750_ # DATA_BY_TYPE
public net.minecraft.world.entity.SpawnPlacements$Data

# Made public for easier access (& less reflection)
public net.minecraft.world.level.block.entity.BlockEntityType f_58915_ # validBlocks
public net.minecraft.data.loot.EntityLoot f_124366_ # ENTITY_ON_FIRE
public net.minecraft.tags.BlockTags f_13053_ # HELPER
public net.minecraft.tags.ItemTags f_13163_ # HELPER
public net.minecraft.tags.EntityTypeTags f_13119_ # HELPER
public net.minecraft.tags.FluidTags f_13130_ # HELPER
public net.minecraft.world.item.ArmorMaterials f_40460_ # HEALTH_PER_SLOT
public net.minecraft.world.item.CreativeModeTab f_40770_ # iconItemStack
public net.minecraft.world.item.CreativeModeTab f_40763_ # langId

# Required for structure registration | Source: https://raw.githubusercontent.com/TelepathicGrunt/StructureTutorialMod/1.17.x-Forge-Jigsaw/src/main/resources/META-INF/accesstransformer.cfg
public-f net.minecraft.world.level.levelgen.feature.StructureFeature f_67031_ # NOISE_AFFECTING_FEATURES
public-f net.minecraft.world.level.levelgen.feature.StructureFeature f_67032_ # STEP
public-f net.minecraft.world.level.levelgen.StructureSettings f_64580_ # DEFAULTS
public-f net.minecraft.world.level.levelgen.StructureSettings f_64582_ # structureConfig
